:root {
  
  --primary_text: #fff;
  --primary_bg: #333;
  --primary_bg300: #777;
  --secondary_text: #333;
  --secondary_bg: #ffffff;
  --seconady_bg300: #AAA;

  
  --primary_action_bg: #852ee9;
  --primary_action_tx: #fff;
  --secondary_action_bg: #2b5c82;
  --secondary_action_txt: #fff;

  
  --alert: #c21010;
  --warning: #bb980d;
  --info: #3236ae;
}
